.Modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.Avatar {
  display: flex;
}

.Edit {
  display: flex;
}

.Add {
  display: flex;
}

.Image {
  display: flex;
}

.Content {
  position: relative;
  padding: 34px 36px;
  width: 430px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.ContentImage {
  position: relative;
  padding: 0;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0px;
}

.Close {
  position: absolute;
  width: 26px;
  top: -26px;
  right: -26px;
  cursor: pointer;
}

.Title {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  &::first-letter {
    text-transform: uppercase;
  }
}

@media screen and (max-width: 540px) {
  .Content {
    width: calc(100% - 60px);
  }
}
