.Button {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;

  &:focus {
    outline-color: #adff2f;
  }
}

.Edit {
  margin-top: 24px;
  width: 38px;
  height: 18px;
  font-size: 11px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.Add {
  position: absolute;
  right: 0;
  top: 16px;
  display: block;
  width: 150px;
  height: 50px;
  font-size: 30px;
}

.Popup {
  margin-top: 48px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;

  &::first-letter {
    text-transform: uppercase;
  }
}

.DeleteIcon {
  position: absolute;
  right: 15px;
  top: 18px;
  display: none;
  border: none;
  width: 18px;
  height: 20px;
  background: url('../../../images/trash-icon.svg') center no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.LikeIcon {
  border: none;
  width: 21px;
  height: 19px;
  background: url('../../../images/like-inactive.svg') center no-repeat;
  background-color: transparent;
  transition: transform 0.3s linear;
  cursor: pointer;
}

.ActiveLikeIcon {
  background-image: url('../../../images/like-active.svg');

  &:hover {
    transform: scale(1.03);
  }
}

.Disabled {
  color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.DisplayBlock {
  display: block;
}

@media screen and (max-width: 980px) {
  .Edit {
    width: 150px;
    height: 50px;
    font-size: 30px;
  }

  .Add {
    position: static;
    margin-bottom: 40px;
  }
}
